@font-face {
    font-family: 'isbi';
    src: url(fonts/Inter-SemiBoldItalic.woff2);
}
@font-face {
    font-family: 'ii';
    src: url(fonts/Inter-Italic.woff2);
}
@font-face {
    font-family: 'ir';
    src: url(fonts/Inter-Regular.woff2);
}
@font-face {
    font-family: 'isb';
    src: url(fonts/Inter-SemiBold.woff2);
}
*{
    box-sizing: border-box;
    margin: 0;
}
html{
    width: 100%;
    background-color: #f1f3f6;
}
.head1{
    display: flex;
    flex-direction: row;
    min-width: 978px;
    padding-bottom: 56px;
    position: fixed;
    width: 100%;
    height: 56px;
    background-color: #2874f0;
    color: #f0f0f0;
    z-index: 10;
}
.ntg{
    height: 100%;
    min-width: 124px;
    color: #f0f0f0;
}
.head{
    max-width: 1248px;
    margin: 0 auto;
    height: inherit;
    display: flex;
    align-items: center;
    width: 100%;
}
.logo{
    display: flex;
    justify-content: flex-end;
    min-width: 137px;
}
.logo-sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo-up, .logo-up img, .logo-down, .logo-down img{
    text-decoration: none;
    border: none;
    outline: none;
}
.logo-up img{
    width: 75px;
    display: block;
}
.logo-down{
    font-size: 11px;
    font-style: italic;
    margin-top: -1px;
    font-family: 'ii';
    line-height: 1.4;
    font-weight: 400;
}
.logo-down span{
    color: #ffe500;
    font-size: 11px;
    font-style: italic;
    font-family: 'isbi';
    font-weight: 500;
    margin-right: -2px;
}
.logo-down img{
    width: 10px;
    aspect-ratio: auto 9.5;
    height: 9.5px;
}
.box-name{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    min-width: 304px;
    width: calc(100% - 540px);
    margin: 0 auto 0 12px;
    align-items: center;
}
.box-name form{
    display: inline-block;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23);
    width: 100%;
    height: 36px;
    max-width: 564px;
    position: relative;
}
.form-sub{
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    background-color: #fff;
    width: 100%;
}
.input{
    position: relative;
    display: inline-block;
    width: 100%;
}
.form-sub input{
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    border: 0;
    outline: 0 none;
    font-size: 14px;
    height: 36px;
    width: 100%;
}
.form-sub button{
    height: 36px;
    width: 44px;
    border-radius: 2px;
    cursor: pointer;
    padding: 4px 12px 0 8px;
    border: 1px solid #fff;
    background-color: #fff;
}
.login-box{
    align-items: center;
    justify-content: flex-end;
    display: flex;
    min-width: 112px;
    flex: 0 0 auto;
    margin: 0 20px;
    max-width: 150px;
}
.log{
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: #fff;
}
.in{
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: #fff;
}
.login{
    color: #2874f0;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    height: 32px;
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
    font-family: 'isb';
    font-size: 15.2px;
}
.seller, .more, .cart{
    flex: 0 0 auto;
    margin: 0 20px;
    max-width: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.sell{
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}
.seller a span, .mo, .car span{
    line-height: 20px;
    font-size: 15.2px;
    letter-spacing: .1px;
    font-weight: 500;
    color: #fff;
    font-family: 'isb';
    display: flex;
}
.mospan{
    display: inline-flex;
    position: relative;
}
.mospan span{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 108px;
    display: block;
}
.mo img{
    margin: 1px 0 0 8px;
    transform: rotate(270deg);
}
.car{
    display: flex;
    align-items: center;
}
.car img{
    margin: 0 8px;
    width: 16px;
    height: 16px;
}
.container{
    top: 56px;
    width: 100%;
}
.head2{
    position: relative;
    min-height: 40px;
    color: #000;
    width: 100%;
    z-index: 6;
}
.head2-sub{
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
    background-color: #fff;
    color: #000;
}
.head-mar{
    display: flex;
    align-items: center;
    max-width: 1248px;
    justify-content: space-between;
    height: 40px;
    margin: auto;
    position: relative;
}
.head-mar span{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-weight: 500;
    height: 100%;
    font-size: 13.3px;
    line-height: 2.4;
    font-family: 'isb';
}
.head-mar span img{
    transform: rotate(270deg);
    margin-left: 8px;

}
.head-mar span:nth-child(8) img{
    display: none;
}
.head-mar span:nth-child(9) img{
    display: none;
}
.contents{
    margin: 0 auto;
    min-width: 978px;
    max-width: 1680px;
    padding: 8px;
    width: 100%;
    position: relative;
}
.main{
    display: flex;
    flex-flow: row;
}
.left{
    flex: 0 0 280px;
    max-width: 280px;
    padding: 0px 10px 0px 0px;
    flex-flow: column;
    display: flex;
    width: 16.66%;
}
.left-sub{
    display: flex;
    width: 100%;
    flex-flow: column;
}
.top{
    width: 100%;
    position: relative;
    background: #fff;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .06);
}
.filters{
    border-bottom: 1px solid #f0f0f0;
    padding: 16px;
    padding-bottom: 12px;
}
.filters span{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .3px;
    font-family: 'isb';
}
.cate{
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}
.cat1{
    font-size: 11.4px;
    font-weight: 500;
    text-transform: uppercase;
    color: #212121;
    font-family: 'isb';
    margin-bottom: 5px;
}
.cat2{
    padding: 5px 0;
    color: #212121;
    white-space: nowrap;
}
.cat2 img{
    margin-right: 5px;
}
.cat2 a{
    color: #878787;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    font-family: 'ir';
}
.cat3{
    padding: 5px 0;
    margin-left: 15px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    border: none;
    outline: none;
}
.cat3 a{
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    font-family: 'isb';
    font-size: 13px;
    height: 19.6px;
    display: flex;
    align-items: center;
}
.price, .brand, .flip{
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}
.pri{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prc{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'isb';
}
.grey-space{
    height: 25px;
}
.grey-sub{
    height: 100%;
    position: relative;
    bottom: -6px;
    display: flex;
}
.spa{
    height: 25px;
    width: 47.362px;
    background: #e0e0e0;
    display: inline-block;
}
.pointer{
    position: relative;
    height: 13px;
    cursor: pointer;
}
.lround{
    display: inline-block;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: -3.5px;
    transition: translate .5s ease-out;
    left: -13.5px;
    transform: translateX(0px);
}
.circle1{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #bababa;
    position: absolute;
    background-color: #fff;
    top: 3.5px;
    right: 0;
}
.rround{
    display: inline-block;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: -3.5px;
    transition: translate .5s ease-out;
    right: -13.5px;
    transform: translateX(-1.19px);
}
.circle2{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #bababa;
    position: absolute;
    background-color: #fff;
    top: 3.5px;
}
.thin{
    background-color: #c2c2c2;
    height: 2px;
    display: inline-block;
    position: absolute;
    top: 6px;
    width: 100%;
}
.thick{
    background-color: #2874f0;
    transform-origin: left center;
    top: 4px;
    height: 6px;
    display: inline-block;
    position: absolute;
    transform: translate(0px) scaleX(0.995);
}
.dots{
    margin-top: -12px;
    display: flex;
}
.dot{
    width: 47.362px;
    display: inline-block;
    text-align: left;
    user-select: none;
    content: "\00B7";
    color: #c2c2c2;
    font-size: 20px;
}
.minmax{
    color: #a3a3a3;
    font-size: 14px;
    margin: 5px -4px 0;
    display: flex;
    justify-content: stretch;
    align-items: center;
}
.min{
    display: inline-block;
    flex-grow: 2;
}
.min select, .max select{
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 1px;
    appearance: none;
    background-color: #fff;
    height: 24px;
    font-size: 14px;
    color: #212121;
    line-height: 1;
    padding: 0 5px;
    outline: none;
}
.min select option, .max select option{
    padding: 0 7px;
    font-size: 14px;
    color: #212121;
    line-height: 1;
}
.to{
    display: inline-block;
    margin: 0 9px;
    font-size: 14px;
    color: #878787;
    line-height: 1;
    flex: 1;
    text-align: center;
}
.max{
    display: inline-block;
    margin-left: 1.5px;
    flex-grow: 2;
}
.brandtop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: -16px;
    padding: 16px;
}
.bleft{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    width: 95%;
    font-family: 'isb';
}
.brandtop img{
    display: inline-block;
    cursor: pointer;
    width: 6px;
    height: 11px;
    transform: rotate(90deg);
}
.bot1{
    margin: 7px 0;
}
.searbr{
    margin-bottom: 7px;
}
.searbr img{
    width: 12px;
    height: 20px;
    position: absolute;
}
.searbr input{
    width: 100%;
    border-width: 0 0 2px;
    border-color: #e0e0e0;
    height: 20px;
    font-size: 14px;
    padding: 0 0 0 21px;
    color: #878787;
    outline: none;
}
.mobrand{
    padding: 3px 0;
}
.mobrand label{
    cursor: pointer;
    width: 100%;
    position: relative;
    display: block;
    padding: 3px 0;
}
.mobrand input, .flip input{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.appjus, .flipjus{
    position: relative;
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 1.4px solid #c2c2c2;
    border-radius: 1.5px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.kof, .vof{
    vertical-align: middle;
    font-size: 13.2px;
    padding-left: 11px;
    color: #212121;
    display: inline-block;
    width: calc(100% - 14px - 14px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    cursor: pointer;
    font-family: 'ir';
}
.bot2{
    font-size: 12px;
    font-weight: 500;
    color: #2874f0;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'isb';
}
.flip{
    display: flex;
}
.flip label{
    cursor: pointer;
    width: 100%;
    position: relative;
    display: block;
}
.vof img{
    height: 21px;
}
.ques{
    display: inline-block;
    position: relative;
}
.ques span{
    border-radius: 50%;
    background-color: #fff;
    color: #878787;
    font-weight: 500;
    width: 16px;
    height: 16px;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2);
    vertical-align: middle;
    margin: 0 2px 0 8px;
    cursor: pointer;
}
.right{
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    background-color: #fff;
}
.right-one{
    background: #fff;
    padding: 12px 16px 0;
    border-bottom: 1px solid #f0f0f0;
    min-height: 72px;
}
.one-di{
    font-size: 12px;
    color: #878787;
    display: inline-block;
}
.one-di a{
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    font-family: 'ir';
}
.one-di img{
    height: 7px;
    width: 20px;
    transform: rotate(180deg);
    vertical-align: middle;
    color: #878787;
}
.one-di:last-child img{
    display: none;
}
.right2{
    padding: 12px 5px 4px 0;
    display: block;
    color: #878787;
    width: 100%;
    clear: both;
    line-height: 1.45;
    font-size: 12px;
}
.right2 a{
    color: #2874f0;
    font-family: 'ir';
    line-height: 1.45;
    font-size: 11px;
    font-weight: 400;
}
.right3{
    font-weight: 500;
    font-size: 15.2px;
    margin-top: 8px;
    display: inline-block;
    font-family: 'isb';
}
.right4{
    display: inline-block;
    margin-left: 10px;
    color: #878787;
    font-size: 11px;
    font-family: 'ir';
}
.right5{
    display: flex;
}
.right5 span{
    border-bottom: 2px solid transparent;
    display: inline-block;
    font-weight: 500;
    padding: 8px 10px 4px 0;
    font-family: 'isb';
    font-size: 14px;
}
.spane{
    padding: 8px 0 4px;
    margin: 0 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'ir';
    font-size: 13px;
}
.spane:nth-child(2){
    border-bottom: 2px solid #2874F0;
}
.span.show{
    color: #2874f0;
    cursor: default;
    border-bottom: 2px solid #2874f0;
    font-weight: 500;
    font-family: 'isb';
}
.right-dwn{
    width: 100%;
}
.right-pad{
    line-height: 1;
    padding: 24px 0 30px 24px;
    display: block;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
}
.right-pad a{
    display: flex;
    position: relative;
}
.rpadl{
    position: relative;
    width: 200px;
}
.rpdl1{
    position: relative;
    display: block;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}
.rpdl1 img{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
}
.rpdl2{
    display: block;
    margin-top: 16px;
}
.rpdl2 span{
    display: inline-block;
}
#label1{
    cursor: pointer;
    width: 100%;
    position: relative;
    display: block;
}
#label1 input{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.sung{
    position: relative;
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 1.4px solid #c2c2c2;
    border-radius: 1.5px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
#label2{
    vertical-align: middle;
    margin-left: 8px;
    font-size: 14px;
    color: #212121;
    cursor: pointer;
}
#label2 span{
    font-size: 14px;
    color: #212121;
    cursor: pointer;
    font-family: 'ir';
}
.rpdl3{
    position: absolute;
    display: inline-block;
    top: 2px;
    right: -8px;
    cursor: pointer;
}
.rpd-sub{
    position: relative;
    display: inline-flex;
}
.rpd-sub img{
    width: 16px;
    height: 16px;
}
.rpadr{
    padding-left: 25px;
    width: calc(100% - 200px);
    display: flex;
    flex-flow: row-wrap;
}
.rpadr1{
    width: 58.33%;
    display: inline-block;
    vertical-align: top;
}
.sponser{
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #bdbdbd;
    width: auto;
    border-radius: 4px;
    display: block;
    font-family: 'ir';
}
.name{
    font-weight: 500;
    font-size: 18px;
    display: block;
    cursor: pointer;
    font-family: 'isb';
}
.next{
    margin-top: 6px;
}
.rate{
    position: relative;
}
.rate div{
    line-height: normal;
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
    background-color: #388e3c;
    font-family: 'isb';
}
.rate img{
    margin: 2px 0 0 2px;
    height: 10px;
}
.rating{
    padding-left: 8px;
    font-weight: 500;
    color: #878787;
    font-family: 'isb';
    font-size: 13px;
    line-height: 1;
}
.ulli{
    margin-top: 13px;
}
.ulli ul{
    padding: 0;
    margin-top: 5px;
    color: #212121;
    line-height: 22px;
    display: table;
}
.ulli ul li{
    display: table-row;
    list-style: none;
    color: #212121;
    line-height: 22px;
    font-size: 14px;
    font-family: 'ir';
    font-weight: 400;
}
.ulli ul li::before{
    content: "•";
    color: #c2c2c2;
    padding-right: 8px;
    display: table-cell;
}
.rpadr2{
    padding-left: 25px;
    width: 41.66%;
    display: inline-block;
    vertical-align: top;
}
.pad1{
    display: inline-block;
    margin-top: -1px;
    padding-right: 10px;
}
.apn{
    font-size: 25px;
    display: block;
    font-weight: 500;
    font-family: 'isb';
    color: #212121;
}
.bpn{
    padding-top: 10px;
    margin-left: 0;
    display: inline-block;
    text-decoration: line-through;
    font-size: 14px;
    font-family: 'ir';
    color: #878787;
}
.cpn{
    display: inline-block;
    margin-left: 8px;
}
.cpn span{
    color: #388e3c;
    font-size: 13px;
    letter-spacing: -.2px;
    font-weight: 500;
    font-family: 'isb';
}
.pad2dwn{
    margin: 6px 0 0;
    font-size: 14px;
    line-height: 16px;
}
.dwsub{
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 400;
    display: inline;
    white-space: pre-wrap;
    font-family: 'ir';
}
.pad2{
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    padding-bottom: 4px;
}
.pad2 img{
    height: 21px;
}
.pad3, .pad4{
    margin-top: 5px;
}
.pad4{
    display: inline-block;
}
.pad3-sub{
    padding: 4px;
    border-radius: 2px;
    background-color: rgb(233, 222, 255);
    display: inline-block;
}
.airt{
    color: rgb(112, 72, 198);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    display: inline-flex;
    vertical-align: middle;
    white-space: pre;
    font-family: 'isb';
}
.air-cont{
    display: inline-block;
}
.air{
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: inline-flex;
    vertical-align: middle;
    white-space: pre;
    font-family: 'ir';
}
.air span{
    font-family: 'isb';
}
.page-cont{
    display: block;
    width: 100%;
}
.page-pad{
    background: #fff;
    border-top: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    line-height: 32px;
}
.page-pad span{
    font-family: 'ir';
    font-size: 12px;
}
.counter{
    padding: 4px 0;
    text-align: center;
    font-weight: 500;
    display: flex;
}
.counter a{
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
    line-height: 32px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    text-decoration: none;
    color: #000;
    font-family: 'ir';
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}
.counter a:last-child, .counter a:first-child{
    display: inline-block;
    line-height: 32px;
    color: #2874f0;
    padding: 0 25px;
    text-transform: uppercase;
    display: flex;
    width: auto;
    font-weight: 500;
    font-size: 12px;
    font-family: 'isb';
}
.counter a.active{
    background: #2874f0;
    color: #fff;
}
.cyon{
    display: inline-block;
    width: 1px;
    height: 100%;
}
.footer{
    background-color: #172337;
    min-width: 978px;
    border-top: 1px solid #ddd;
    margin-top: 25px;
    padding-bottom: 40px;
}
.footer-sub{
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
.footup{
    margin-left: 65px;
    width: 90% !important;
    padding-top: 40px;
    display: flex;
    flex-flow: row wrap;
}
.bowo{
    flex: 1;
    text-align: left;
}
.bowo:last-child .social{
    display: none;
}
.bowo-sub{
    font-size: 12px;
    white-space: nowrap;
    border-left: 1px solid #454d5e;
    padding: 0 25px;
}
.title{
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 8px;
    text-align: left;
    font-family: 'ir';
}
.sub a{
    color: #fff;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    font-family: 'ir';
}
.subtitle{
    font-style: normal;
    color: #fff;
    background-color: #172337;
    margin-bottom: 16px;
    font-family: 'ir';
}
.social{
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 8px;
    font-family: 'ir';
}
.social-icons{
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
}
@media screen and (max-width:978px){
html{
    width: fit-content;
}
}
@media screen and (max-width:1140px){
.head-mar{
    max-width: 978px;
}
}
@media screen and (max-width:799px){
.selector{
    position: relative;
}
.content2{
    right: 0px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
}
.dropdown-model {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 23456789234567;
}
.vhu{
    padding-top: 52px;
    padding-bottom: 56px;
}
.ulli{
    display: ruby;
    margin: 0;
}
.ulli ul li::before{
    display: none;
}
.ulli ul:last-child{
    display: none;
}
.rightdwn-sub{
    background-color: rgb(255, 255, 255);
}
.syv{
    display: flex;
    align-items: center;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 8px;
    justify-content: center;
    border: 1px solid rgb(213, 215, 219);
    border-radius: 2px;
    max-width: 850px;
}
.ulli ul li{
    background-color: rgba(0, 0, 0, 0);
    font-size: 11px;
    color: rgb(102, 102, 102);
    font-family: 'ir';
    line-height: 18px;
    font-weight: 400;
    font-family: 'ir';
    letter-spacing: 0px;
    padding: 4px 8px;
    vertical-align: middle;
    text-wrap: nowrap;
}
.right-pad{
    border: none;
    padding: 12px 0;
    padding-left: 10px;
}
.rpdl1{
    display: flex;
    position: relative;
    width: 96px;
    height: 120px;
    margin: 0;
}
.rpdl3{
    display: none;
}
.rpadr2{
    padding: 0;
}
.sponser{
    margin-bottom: 2px;
}
.rpadr{
    flex: 1;
    align-items: flex-start;
    padding-left: 12px;
    padding-right: 20px;
    margin-bottom: 6px;
    flex-direction: column;
}
.rpdl2{
    display: none;
}
.content1{
    display: none;
}
.vbvg{
    transform: translate(0px, 0px);
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    position: absolute;
    min-height: 0px;
    min-width: 0px;
    left: 0px;
    top: 0px;
    max-width: 799px;
    min-width: 0px;
}
.right-pad a{
    padding-top: 12px;
    padding-bottom: 12px;
}
.pad5{
    margin-top: 6px;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.00);
    font-size: 12px;
    color: rgba(0, 0, 0, 1.00);
    font-family: 'ir';
    font-style: normal;
}
.pad6{
    margin-top: 6px;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.00);
    font-size: 12px;
    color: rgba(102, 102, 102, 1.00);
    font-family: 'ir';
    font-style: normal;
}
.vbvh{
    transform: translate(0px, 51px);
}
.vbvj{
    transform: translate(0px, 406px);
}
.vbvk{
    transform: translate(0px, 652px);
}
.vbvl{
    transform: translate(0px, 902px);
}
.top{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    height: 156px;
    align-items: stretch;
    border-bottom: 1px solid rgb(234, 234, 234);
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    text-decoration: none;
    z-index: 0;
    box-shadow: none;
}
.top1{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    transform: translateY(0px);
    opacity: 1;
    height: 52px;
    z-index: 0;
    overflow: hidden;
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0.00);
    border: 0 solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    text-decoration: none;
}
.top1-sub{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    display: table;
    table-layout: fixed;
    width: 100%;
    min-height: 52px;
    height: 52px;
    transition: background-color .3s ease-out;
    font-size: 16px;
}
.atpm{
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 42px;
    max-height: 16px;
    line-height: 10px;
    position: relative;
    overflow: hidden;
}
.atpm img{
    width: 19px;
    height: 16px;
}
.btpm{
    width: 23px;
    display: table-cell;
    vertical-align: middle;
    height: 28px;
    overflow: hidden;
    line-height: 10px;
    max-width: 111px;
    padding-top: 3px;
    position: relative;
}
.btpm img{
    width: 23px;
    max-height: 30px;
    transition: -webkit-filter .3s ease-out;
}
.stpm{
    color: #212121;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    padding-left: 12px;
}
.stpm div{
    text-align: left;
    overflow: auto;
}
.stpm h1{
    font-size: 16px;
    font-weight: 400;
    font-family: 'ir';
    letter-spacing: -.03em;
}
.ttpm, .utpm, .vtpm{
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 42px;
    max-height: 16px;
    line-height: 10px;
    position: relative;
    overflow: hidden;
}
.ttpm img{
    width: 30px;
    height: 30px;
}
.utpm img{
    width: 20px;
    height: 20px;
}
.vtpm{
    color: #000;
    width: 90px;
}
.vtpm span{
    color: #000;
    text-align: center;
    line-height: 10px;
    font-size: 16px;
    font-family: 'ir';
    letter-spacing: -.04em;
}
.juf{
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0.00);
    border: 0 solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}
.cont2{
    position: relative;
    z-index: 100;
    flex: 1 1 0%;
    padding-bottom: 0px;
    padding-top: 0px;
    overflow: hidden;
    width: 100vw;
}
.dropdwn-cont{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101010;
    background-color: rgb(241, 242, 244);
    flex: 1 1 0%;
    padding-bottom: 0px;
    padding-top: 0px;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.drop1{
    flex: 1 1 0%;
    background-color: rgb(241, 242, 244);
}
.drop1sub{
    min-width: 1px;
    min-height: 1px;
    flex: 1;
}
.dro1{
    flex: 1 1 0%;
}
.dore1{
    flex-direction: column;
    overflow-y: hidden;
    min-width: 1px;
    flex-shrink: 1;
    transform: translateZ(0px);
    min-height: 1px;
    touch-action: none;
    flex-grow: 1;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    flex: 1;
}
.dorepad{
    padding-top: 52px;
    padding-bottom: 56px;
    height: max-content;
    display: flex;
    flex-direction: row;
}
.doreleft{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 33.33%;
    height: 780px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.risub{
    display: none;
}
.risub:first-child{
    display: block;
}
.doreright{
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    min-height: 0px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    flex: 1;
}
.drop3{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
}
.dr3l{
    width: 100%;
    height: 100%;
}
.dr3r{
    display: flex;
    height: 40px;
    align-items: center;
    flex-direction: row;
    background-color: rgba(255, 88, 0, 1.00);
    padding-left: 65px;
    padding-right: 65px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.dr3r span{
    color: rgba(255,255,255,1.00);
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.00);
    border: 0 solid black;
    box-sizing: border-box;
    display: inline;
    font: 14px 'ir';
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: inherit;
    text-decoration: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.risub{
    height: 240px;
    width: 100%;
}
.righsub{
    height: 48px;
    overflow: hidden;
    width: 100%;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.mjd{
    flex: 1;
}
.bord{
    display: flex;
    position: relative;
    margin-right: 19px;
    width: 18px;
    height: 18px;
    border: 2px solid black;
    border-radius: .2rem;
}
.faj{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 19px;
    justify-content: space-between;
    padding-left: 19px;
    align-items: center;
    flex-direction: row;
}
.attenh{
    font-family: 'ir';
    font-size: 14px;

}
.muh{
    align-items: center;
    flex-direction: row;
    flex: 1;
    display: flex;
}
.dorio{
    height: 240px;
    border-block-end-width: 100%;
}
.lefsub{
    height: 776px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.dolsub{
    height: 56px;
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.drp2rest{
    flex: 1;
    display: flex;
    align-items: center;
}
.drp2rest h1{
    font-size: 16px;
    font-weight: 400;
    font-family: 'ir';
}
.dolf{
    flex: 1;
}
.dolf-pad{
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 8px;
    align-items: center;
    flex-direction: row;
}
.dolk{
    font-size: 14px;
    margin-right: 8px;
    color: rgba(0, 0, 0, 1.00);
    max-width: 100%;
    line-height: 20px;
    font-family: 'ir';
    letter-spacing: -.5px;
}
.drop2{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    height: 52px;
    display: flex;
    flex-direction: row;
}
.drop2 a{
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 42px;
    line-height: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drop3{
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    height: 56px;
}
.right-dwn{
    background-color: rgb(241, 242, 244);
}
.mainu{
    min-width: 1px;
    min-height: 1px;
    flex: 1;
}
.padding{
    padding-top: 156px;
    padding-bottom: 0px;
}
.gyuh{
    flex-direction: column;
}
.cgyujn{
    height: 3444px;
    width: 100%;
}
.main-pad{
    min-width: 1px;
    min-height: 1px;
    flex: 1;
}
.smt{
    flex-direction: column;
    min-width: 1px;
    flex-shrink: 1;
    transform: translateZ(0px);
    overflow-y: auto;
    min-height: 1px;
    flex-grow: 1;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    flex: 1;
}
.flx{
    flex: 1 1 0%;
}
.huf{
    transform: translateX(0px);
}
.top2{
    position: absolute;
    top: 52px;
    left: 0px;
    right: 0px;
    transform: translateY(0px);
    opacity: 1;
    z-index: -1;
    overflow: hidden;
}
.top2-sub{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    flex-direction:column;
    flex: 1;  
}
.top2-div{
    border-top: 1px solid;
    height: 48px;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;
    border-color: rgb(220, 223, 230);
    background-color: rgb(255, 255, 255);
}
.top2-divider{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}
.top21{
    flex: 1 1 0%;
}
.topext{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}
.top21-sub{
    display: flex;
    flex-direction: row;
    height: 48px;
    align-items: center;
    justify-content: center;
}
.top21-sub img{
    width: 20px;
    height: 20px;
}
.jot{
    background-color: rgba(0, 0, 0, 0.00);
    border: 0 solid black;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 1.00);
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: inherit;
    text-decoration: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: 'isb';
}
.soort{
    text-transform: uppercase;
    color: rgba(135, 135, 135, 1.00);
    font-family: 'ir';
    font-size: 14px;
    margin: 12px;
}
.being{
    margin-bottom: 8px;
    margin-right: 8px;
    align-items: center;
    flex-direction: row;
    margin-left: 0px;
}
.besub{
    display: flex;
    width: 100%;
    padding-right: 12px;
    justify-content: space-between;
    padding-left: 12px;
    flex-direction: row;
    padding-top: 6px;
    padding-bottom: 6px;
    flex: 1;
}
.besim{
    display: flex;
    position: relative;
    margin-right: 8px;
    margin-top: 2px;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: 1;
    width: 16px;
    height: 16px;
}
.besim img{
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
    opacity: 1;
}
.sormid{
    height: 1px;
    margin-bottom: 12px;
    background-color: rgb(234, 234, 234);
}
.fin{
    font-size: 14px;
    color: rgba(0, 0, 0, 1.00);
    font-family: 'normal';
}
.bhj{
    color: rgb(17, 17, 18);
    margin-left: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    font-family: 'isb';
    letter-spacing: -0.01px;
    flex-shrink: 1;
}
.top22{
    height: 16px;
    width: 1px;
    background-color: rgb(213, 215, 219);
}
.top23{
    flex: 1 1 0%;
}
.top23-sub{
    flex-direction: row;
    flex: 1 1 0%;
    height: 48px;
    align-items: center;
    justify-content: center;
}
.jox{
    flex-direction: row;
}
.top3{
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    transform: translateY(0px);
    opacity: 1;
    height: 56px;
    z-index: -2;
    overflow: hidden;
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0.00);
    border: 0 solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    text-decoration: none;
}
.top3-sub{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    flex-direction: column;
    flex: 1;
    border: 0 solid black;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    list-style: none;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}
.top3-div{
    min-height: 56px;
    background-color: rgb(255, 255, 255);
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    justify-content: center;
}
.top3la{
    height: 56px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.00);
    margin-top: 0px;
    padding-bottom: 0px;
    align-items: center;
    flex-direction: row;
    display: flex;
}
.top3end{
    min-height: 1px;
    min-width: 1px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    flex-shrink: 1;
    transform: translateZ(0px);
    flex-direction: row;
    flex-grow: 1;
    display: flex;
}
.top3left{
    height: 56px;
    padding-top: 0px;
    padding-right: 11px;
    margin-right: 0px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.00);
    margin-top: 0px;
    padding-left: 11px;
    align-items: center;
    flex-direction: row;
    margin-left: 0px;
}
.siml{
    flex-direction: row;
}
.top3fg{
    height: 56px;
    width: 307px;
}
.djb{
    transform: translate(0px, 0px);
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    position: absolute;
    min-height: 0px;
    min-width: 0px;
    left: 0px;
    top: 0px;
}
.cvg{
    transform: translate(107px, 0px);
}
.gbm{
    transform: translate(187px, 0px);
}
.djb-sub{
    background-color: rgb(255, 255, 255);
    border-color: rgb(219, 219, 219);
    margin-bottom: 0px;
    padding-left: 4px;
    margin-top: 8px;
    height: 40px;
    justify-content: space-between;
    padding-right: 8px;
    align-items: center;
    flex-direction: row;
    margin-left: 4px;
    margin-right: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
}
.fgb{
    justify-content: space-between;
    margin-right: 4px;
    align-items: center;
    flex-direction: row;
    z-index: 1;
    margin-left: 0px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-top-left-radius: 14px;
    display: flex;
    max-width: 100%;
}
.vhs{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 1;
    border-radius: 14px;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 4px;
    width: 32px;
    height: 32px;
}
.vhs img{
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
    opacity: 1;
}
.texting{
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0.00);
    border: 0 solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}
.tjt{
    max-width: 100%;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow-x: hidden;
    overflow-y: hidden;
}
.gyk{
    min-width: 60px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(33, 33, 33);
    font-size: 12px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-style: normal;
    line-height: 16px;
}
.name{
    color: rgb(17, 17, 18);
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'ir';
    letter-spacing: -0.01px;
    text-wrap: nowrap;
}
.apn{
    font-weight: 600;
    font-family: 'isb';
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -0.01px;
    color: rgb(17, 17, 18);
}
.pad1up{
    display: flex;
    flex-direction: row-reverse;
}
.cpn{
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.cpn span{
    font-weight: 600;
    font-family: 'isb';
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -0.01px;
    color: rgb(0, 140, 0);
}
.bpn{
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 8px;
    font-weight: 600;
    font-family: 'isb';
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -0.01px;
    color: rgb(113, 116, 120);
    text-decoration-line: line-through;
}
.rpadl{
    justify-content: flex-start;
    align-items: center;
    margin-left: 6px;
    margin-top: 16px;
    height: 120px;
    overflow: hidden;
    width: auto;
}
.rpadr1{
    width: 100%;
}
.pad2dwn, .pad2{
    display: none;
}
.next{
    display: flex;
}
.assuimg{
    display: flex;
    position: relative;
    width: 60px;
    height: 16px;
}
.assuimg img{
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
    opacity: 1;
}
.next{
    flex-direction: row;
    align-items: center;
    margin-bottom: 6px;
}
.pad3{
    margin: 0;
}
.pad3-sub{
    padding: 0;
    border-radius: 0;
    background-color: transparent;
}
.airt{
    background-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    color: rgb(38, 165, 65);
    font-family: normal;
    font-style: normal;
}
.air{
    background-color: rgba(0, 0, 0, 0);
    font-size: 11px;
    color: rgb(0, 0, 0);
    font-family: 'ir', sans-serif;
    font-style: normal;
}
.pad1{
    margin: 0;
}
.right-pad{
    padding: 0;
}
}
@media screen and (min-width:800px){
.content2{
    display: none;
}
.content1{
    background-color: rgb(241, 242, 244);
    flex: 1 1 0%;
    padding-bottom: 0px;
    padding-top: 0px;
    overflow: hidden;
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}
}